
    {% extends 'base.html' %}

    {% block header %}
    {% endblock header %}
    

    {% block content %}
        <div class='container'>
            {% for item in object_list %}
            <div class='card'>
                <!-- <h5 class='card-header'>{{ item.category }}</h5> -->
<!-- 
                <div class='card-body'>
                    <h5 class='card-title'>{{item.item}}</h5>
                    <h6 class='card-title'>{{item.category}}</h6>
                    <a href='#' class='btn btn-success'>ボタン</a>
                </div>
                 -->

                <div class='card-title'>
                    <a href="detail/{{ item.id }}">{{ item.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        
    {% endblock content %}